{% extends 'basic.html' %}

{% block title%} Data Wahrehouse {% endblock %}
{% block body %} 
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>manager_name</th>
        <th>manager_code</th>
        <th>mobile_number</th>
    </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.manager_name }}</td>
            <td>{{ object.manager_code }}</td>
            <td>{{ object.mobile_number }}</td>

        </tr>
    </tbody>

{% empty %}
<td>No objects yet.</td>
{% endfor %}
</table>
{% endblock %}