{% extends 'basic.html' %}

{% block title%} Data Wahrehouse {% endblock %}
{% block body %} 

<h3>{{ object.is_manager }}</h3>
<h3>{{ object.is_agent }}</h3>>
<h3>{{ object.name }}</h3>
<h3>{{ object.mobile_no }}</h3>
<h3>{{ object.email }}</h3>>
<h3>{{ object.linkein_link }}</h3>
<h3>{{ object.github_link }}</h3>
<h3>{{ object.website_link }}</h3>>
<h3>{{ object.per_10th }}</h3>
<h3>{{ object.per_12th }}</h3>
<h3>{{ object.stream }}</h3>
<h3>{{ object.fresher_expiriance }}</h3>>
<h3>{{ object.agent_socialmedia }}</h3>
<h3>{{ object.status }}</h3>

{% endblock %}
